.artist-banner-wrapper {
  background-image: url('../images/Morten-Harket.png');
  background-position: center;
  background-size: cover;
}


.artist-banner {
  &-btn {
    padding: 20px 30px;
    font-size: 12.8px;
    line-height: 1.0;
    margin-right: 1.5rem;
    margin-bottom: 24px;
    width: 200px;
  }
}

.artist-btns {
  flex-direction: column;
  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.btn-flex {
  display: flex;
  align-items: center;
}


.btn-icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(100%);
}

.pt-200px {
  padding-top: 200px;
}

.pb-200px {
  padding-bottom: 200px;
}

.bg-purple {
  background: $purple;
}

.mb-48px-69px {
  margin-bottom: 48px;
  @media (min-width: 1240px) {
    margin-bottom: 69px;
  }
}
