.similar-item {
  flex-basis: 137px;
  margin-top: 25px;
  margin-right: 50px;

  text-align: center;

  @media (min-width: 1240px) {
    width: 250px;
  }

  &-image {
    width: 137px;
    height: 137px;
    margin-bottom: 10px;

    @media (min-width: 1240px) {
      width: 250px;
      height: 250px;
    }
  }

  &-title {
    width: 100%;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
  }

  &-fans {
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
  }
}
