.tracks-item {
  display: flex;
  flex-basis: 100%;
  height: 55px;

  @include for-desktop {
    flex-basis: 551px;
    margin-right: 49px;
  }
}

.tracks-item-name {
  @include for-desktop {
    font-weight: 700;
  }
}

.tracks-item-image {
  width: 55px;
  height: auto;
  margin-right: 15px;
}

.tracks-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tracks-item-author {
    margin: 0;
  }
}

.tracks-item-time {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 0;
  margin-left: auto;

  font-weight: 400;
  font-size: 12.8px;
  line-height: 1.5;
}
