.tracks {
  &-title {
    margin-bottom: 48px;
  }
  &-item {
    display: flex;
    align-items: center;
    height: 55px;
    @media (min-width: 1240px) {
      margin-right: 49px;
    }
    &-image {
      width: 55px;
      height: auto;
      margin-right: 15px;
    }
    &-name {
      font-weight: 700;
      text-transform: uppercase;
    }
    &-description {
      width: 294px;
      @media (min-width: 1240px) {
        width: 456px;
      }
      // display: flex;
      // align-items: center;
      // flex: 0 0 auto;
    }
    &-author {
      margin: 0;
    }
    &-time {
      font-size: 12.8px;
      line-height: 1.5;
      // width: auto;
      margin-left: auto;
    }
  }
}

.tracks-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.pt-100px {
  padding-top: 100px;
}

// .tracks-item-description {
//   display: flex;
//   align-items: center;
// }
