.tracks-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tracks-item {
  display: flex;
  width: 100%;
  height: 55px;

  @media (min-width: 1240px) {
    width: 551px;
    margin-right: 49px;
  }
}

.tracks-item-name {
  @media (min-width: 1240px) {
    font-weight: 700;
  }
}

.tracks-item-image {
  width: 55px;
  height: auto;
  margin-right: 15px;
}

.tracks-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tracks-item-author {
    margin: 0;
  }
}

.tracks-item-time {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 0;
  margin-left: auto;

  font-weight: 400;
  font-size: 12.8px;
  line-height: 1.5;
}

.pt-100px {
  padding-top: 100px;
}

.mt-25px {
  margin-top: 25px;
}

.mb-24px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 24px;
  }
}

.mb-24px {
  margin-bottom: 24px;
}
