.tracks {
  padding-top: 100px;
  &-title {
    margin-bottom: 48px;
  }
  &-item {
    display: flex;
    margin-bottom: 25px;
    &-image {
      width: 55px;
      height: auto;
      margin-right: 15px;
    }
    &-name {
      font-weight: 700;
      text-transform: uppercase;
    }
    &-description {
      flex: 1 1 auto;
    }
    &-author {
      margin: 0;
    }
    &-time {
      width: auto;
    }
  }
}
