.banner-wrapper {
  width: 100%;

  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.banner {
  h1 {
    margin-top: 50px;
  }

  @media (min-width: 1240px) {
    h1 {
      margin-top: 0;
    }
  }
}

.banner-form {
  flex-direction: column;

  @media (min-width: 1240px) {
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
  }
}

.banner-form-field {
  @include banner-form-field-mobile;
  height: 50px;
  padding-left: 20px;

  border: 2px solid $dark-grey;
  border-radius: 3px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;

  background-color: rgb(255, 255, 255, 0);

  @media (min-width: 1240px) {
    width: 273px;
  }
}

.banner-form-field::placeholder {
  color: #fff;
}

/* WebKit, Edge */
.banner-form-field::-webkit-input-placeholder {
  color: #fff;
}

/* Firefox 4-18 */
.banner-form-field:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

/* Firefox 19+ */

.banner-form-field::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

/* IE 10-11 */
.banner-form-field:-ms-input-placeholder {
  color: #fff;
}

/* Edge */
.banner-form-field::-ms-input-placeholder {
  color: #fff;
}

.bg-green {
  background: $green;
}
