// mobile

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}


// desktop

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: capitalize;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: capitalize;
}
