%btn-generic {
  display: inline-block;

  width: 100%;
  padding: 20px 30px;

  border: none;
  border-radius: 5px;

  color: #fff;
  font-weight: 400;
  @include font-size-line(13.3px, 15.3px);
  font-family: Arial, sans-serif;

  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  @include for-desktop {
    width: 100%;
  }
}

.btn {
  @extend %btn-generic;
}
