.m-0 {
  @include reset;
}

@include mb(15px);
@include mb(3px);
@include mb(17px);
@include mb(16px);
@include mb(14px);
@include mb(54px);
@include mb(24px);
@include mb(17px);
@include mb(68px);
@include mt(0px);
@include mb(65px);

.mr-25px {
  margin-right: 25px;
}

.ml-25px {
  margin-left: 25px;
}

.price {
  margin-top: 0;
  margint-bottom: 40px;
}

.text-grey {
  color: $grey;
}

.text-white {
  color: #fff;
}

// banner
@include mb-lg(31px);
@include mb-lg(0px);

.fs-30px-lg {
  @media (min-width: 1240px) {
    font-size: 30px;
  }
}

.lh-main {
  line-height: $main-line-height;
}

.w-100 {
  width: 100%;
}

.mb-16px {
  margin-bottom: 16px;
}

.d-none-lg {
  @media (min-width: 1240px) {
    display: none;
  }
}

.pt-250px-lg {
  @media (min-width: 1240px) {
    padding-top: 250px;
  }
}

.mb-30px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 30px;
  }
}

.mr-50px-lg {
  @media (min-width: 1240px) {
    margin-right: 50px;
  }
}

.mb-64px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 64px;
  }
}
