@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../fonts/Roboto/Roboto-Bold.ttf");
}

.text-main {
  font-size: 16px;
  line-height: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.caps-bold-text {
  @include caps-bold-text;
}

.capitalize-text {
  text-transform: capitalize;
}

.text-grey {
  color: $grey;
}

.dark-grey {
  color: $dark-grey;
}

.orange {
  color: $orange;
}

.text-white {
  color: #fff;
}

.fs-30px-lg {
  @media (min-width: 1240px) {
    font-size: 30px;
  }
}

.text-small {
  @include text-small;
}

.lh-main {
  line-height: $main-line-height;
}
