.footer {
  width: 100%;

  padding-top: 63px;
}

.footer-block {
  // margin-bottom: 32px;
  &-list {
    @include reset;
    @include reset-padding;
    list-style-type: none;
  }

  a {
    color: $grey;
    text-decoration: none;
  }

  h2 {
    @include h2-mobile;
  }

  li {
    @include for-desktop {
      margin-right: 19px;
    }
  }

  &:last-child {
    margin-bottom: 44px;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-size: cover;
}

.about-us {
  grid-area: about-us;
}

.support {
  grid-area: support;
}

.contacts {
  grid-area: contacts;
}

.social {
  grid-area: social;
}

.footer-menu {
  grid-area: footer-menu;

  a {
    color: $grey;

    text-decoration: none;
  }

  &-item {
    display: block;

    margin-bottom: 15px;

    font-size: 16px;
    line-height: 1.5;

    @include for-desktop {
      display: inline-block;

      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  &-item:last-child {
    margin-bottom: 0;
  }
}

.footer-grid {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 40px;
  grid-template-areas:
    "about-us"
    "support"
    "contacts"
    "social"
    "footer-menu";
  grid-template-rows: 2;
  grid-template-columns: 1fr;

  @include for-desktop {
    grid-row-gap: 72px;
    grid-template-areas:
      "about-us support contacts social"
      "footer-menu footer-menu footer-menu footer-menu";
    grid-template-columns: repeat(4, 1fr);
  }
}

.social-icons {
  display: flex;

  height: 20px;
}

.social-link {
  width: auto;

  vertical-align: middle;
}

.footer-menu-wrapper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 48px;

  border-top: 1px solid $grey;

  &-item {
    margin-bottom: 14px;
  }

  @media (min-width: 1240px) {
    &-item {
      display: inline-block;

      margin-right: 16px;
    }
  }
}
