// .footer-wrapper {
//   width: 100%;
//   padding-top: 3.5rem;
//   // padding-bottom: 2rem;
// }

.footer {
  width: 100%;
  padding-top: 3.5rem;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-size: cover;
}

.footer-grid {

  @media (min-width: 1240px) {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: auto auto;
    grid-template-areas:
      "about-us support contacts social"
      "footer-menu footer-menu footer-menu footer-menu";
  }
}

@media (min-width: 1240px) {
  .about-us {
    grid-area: about-us;
  }

  .support {
    grid-area: support;
  }

  .contacts {
    grid-area: contacts;
  }

  .social {
    grid-area: social;
  }

  .footer-menu {
    grid-area: footer-menu;
  }
}

.footer-block {
  margin-bottom: 32px;
  &-list {
    list-style-type: none;
    @include reset;
    @include reset-padding;
  }
  &-title {
    margin-bottom: 14px;
  }
  a {
    text-decoration: none;
    color: $grey;
  }
  h2 {
    @include h2-mobile;
  }
  li {
    @media (min-width: 1240px) {
      margin-right: 19px;
    }
  }
}

.social-icons {
  display: flex;
  height: 20px;
}

.social-link {
  width: auto;
  height: auto;
  vertical-align: middle;
}

.footer-menu-wrapper {
  border-top: 1px solid $grey;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  &-item {
    margin-bottom: 14px;
  }
  @media (min-width: 1240px) {
    &-item {
      display: inline-block;
      margin-right: 16px;
    }
  }
}

.footer-menu {
  a {
    text-decoration: none;
    color: $grey;
  }
  &-item {
    display: block;
    margin-bottom: 16px;
    @media (min-width: 1240px) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}


.mr-19px {
  margin-right: 19px;
}
