* {
  box-sizing: border-box;
}

html {
  color: #fff;

  font-weight: 400;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background: $black;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  @include reset-margin;
  font-weight: 700;

  @include font-size-line(30px, 45px);
  text-transform: uppercase;

  @include for-desktop {
    @include font-size-line(60px, 90px);
  }
}

h2 {
  @include reset-margin;
  font-weight: 700;

  @include font-size-line(18px, 27px);
  text-transform: uppercase;

  @include for-desktop {
    @include font-size-line(38px, 57px);
  }
}

h3 {
  @include reset-margin;
  font-weight: 700;

  @include font-size-line(16px, 24px);
  text-transform: uppercase;

  @include for-desktop {
    font-weight: 400;

    @include font-size-line(24px, 45px);
  }
}

h4 {
  @include reset-margin;
  font-weight: 700;

  @include font-size-line(18px, 24px);
  text-transform: uppercase;

  @include for-desktop {
    line-height: 27px;
  }
}

ul {
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.text-main {
  @include font-size-line(16px, 24px);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.capitalize-text {
  text-transform: capitalize;
}

.text-grey {
  color: $grey;
}

.dark-grey {
  color: $dark-grey;
}

.orange {
  color: $orange;
}

.text-white {
  color: #fff;
}

.fs-30px-lg {
  @media (min-width: 1240px) {
    font-size: 30px;
  }
}

.text-small {
  @include text-small;
}

.lh-main {
  line-height: $main-line-height;
}
