.header {
  position: absolute;
  top: 25px;
  width: 100%;
  @media (min-width: 1240px) {
    padding: 0 20px;
  }
}

.logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.logo-text {
  display: inline-block;
  @include caps-bold-text;
  @include font-11px;
  @media (min-width: 1240px) {
    @include font-10px;
    flex: 0 0 57px;
    margin-right: 91px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  @include caps-bold-text;
  @include font-11px;
  a {
    text-decoration: none;
  }
  .nav-list {
    list-style-type: none;
    padding: 0;
    @media (min-width: 1240px) {
      display: flex;
    }
  }
  .nav-list-item {
    @media (min-width: 1240px) {
      display: block;
      margin-right: 24px;
    }
  }
  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.search-box {
  width: 100%;
  &-input {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 50px;
    background-color: $dark;
    color: $search-grey;
    font-family: "Arial", sans-serif;
    font-size: 13.3px;
    line-height: 15.29px;
  }
  @media (min-width: 1240px) {
    width: 248px;
    margin-left: auto;
  }
}
