.header-wrapper {
  position: absolute;
  top: 25px;

  width: 100%;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo-text {
  @include font-11px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 1240px) {
    @include font-10px;
    // flex: 0 0 57px;

    margin-right: 91px;
  }
}

.nav {
  @include font-11px;

  display: flex;
  flex-direction: column;

  margin-top: 0;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;

  list-style-type: none;

  a {
    text-decoration: none;
  }

  .nav-item {
    margin-bottom: 3px;

    color: $grey;

    @media (min-width: 1240px) {
      display: block;

      margin-right: 24px;
      margin-bottom: 0;
    }
  }

  .nav-item-active {
    color: #fff;
  }

  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.search-box {
  width: 100%;

  &-input {
    width: 100%;
    height: 25px;

    border: none;
    border-radius: 50px;

    color: $search-grey;
    font-size: 13.3px;
    font-family: "Arial", sans-serif;
    line-height: 15.29px;

    background-color: $dark;
  }

  @media (min-width: 1240px) {
    width: 248px;
    margin-left: auto;
  }
}
