.news-item {
  width: 100%;
  h3 {
    font-weight: 400;
  }
}

.news-image {
  width: 100%;
  margin-bottom: 40px;
  @media (min-width: 1240px) {
    flex: 0 0 575px;
    height: auto;
    margin: 0;
  }
}


.news-card {
  @media (min-width: 1240px) {
    flex: 0 0 575px;
  }
}

.mb-48px {
  margin-bottom: 48px;
}


.news-author {
  margin-bottom: 48px;
  vertical-align: middle;
}

.dark-grey {
  color: $dark-grey;
}

.orange {
  color: $orange;
}

.text-small {
  @include text-small;
}

.news-btn {
  @extend %btn-generic;
  @include text-small;
  width: auto;
  padding: 16px 30px;
  border: 1px solid $dark-grey;
}

.mr-16px {
  margin-right: 16px;
}

.mb-64px {
  margin-bottom: 64px;
}
