.news-item {
  width: 100%;

  h3 {
    font-weight: 400;
  }
}

.news-image {
  width: 374px;
  margin-bottom: 50px;

  @include for-desktop {
    flex: 0 0 575px;
    height: auto;
    margin-bottom: 0;
  }
}

.news-card {
  @include for-desktop {
    flex: 0 0 575px;
  }
}

.news-author {
  margin-bottom: 48px;

  vertical-align: middle;
}

.news-btn {
  @extend %btn-generic;

  width: auto;
  padding: 16px 30px;
  border: 1px solid $dark-grey;

  @include font-size-line(12px, 19px);
}
