.container {
  width: 100%;
  padding: 0 20px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.mb-65-lg {
  @media (min-width: 1240px) {
    margin-bottom: 65px;
  }
}

.mt-50px {
  margin-top: 50px;
}

.mt-0-lg {
  @media (min-width: 1240px) {
    margin-top: 0;
  }
}

.mb--25px {
  margin-bottom: -25px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-0-lg {
  @media (min-width: 1240px) {
    margin-bottom: 0;
  }
}

.m-0-lg {
  @media (min-width: 1240px) {
    margin: 0;
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.flex-100 {
  display: flex;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.dir-column {
  flex-direction: column;
}



.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pl-5px::placeholder {
  padding-left: 5px;
}

.mb-78px {
  margin-bottom: 78px;
}

.pt-250px {
  padding-top: 250px;
}

.pt-200px {
  padding-top: 200px;
}

.pb-200px {
  padding-bottom: 200px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-50px {
  padding-top: 50px;
}

.mt-50px {
  margin-top: 50px;
}

.mb-16px {
  margin-bottom: 16px;
}

.pt-200px-lg {
  @media (min-width: 1240px) {
    padding-top: 200px;
  }
}


.dir-row-1240 {
  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.dir-row-reverse-1240 {
  @media (min-width: 1240px) {
    flex-direction: row-reverse;
  }
}
