// display
.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.dir-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-base {
  align-items: baseline;
}

.dir-row-lg {
  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.dir-row-reverse-lg {
  @media (min-width: 1240px) {
    flex-direction: row-reverse;
  }
}

.align-items-center-lg {
  @media (min-width: 1240px) {
    align-items: center;
  }
}

.d-none-lg {
  @media (min-width: 1240px) {
    display: none;
  }
}

// margins
@include mb(15px);
@include mb(3px);
@include mb(17px);
@include mb(16px);
@include mb(14px);
@include mb(54px);
@include mb(24px);
@include mb(17px);
@include mb(68px);
@include mt(0);
@include mb(65px);

.mb-200px {
  margin-bottom: 200px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-78px {
  margin-bottom: 78px;
}

.mb-76px {
  margin-bottom: 76px;
}

.mb-64px {
  margin-bottom: 64px;
}

.mb-63px {
  margin-bottom: 63px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mt-50px {
  margin-top: 50px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mb-46px {
  margin-bottom: 46px;
}

.mb-40px {
  margin-bottom: 64px;
}

.mb-39px {
  margin-bottom: 39px;
}

.mb-25px {
  margin-bottom: 25px;
}

.mt-25px {
  margin-top: 25px;
}

.mr-25px {
  margin-right: 25px;
}

.mb-24px {
  margin-bottom: 24px;
}

.ml-25px {
  margin-left: 25px;
}

.mr-24px {
  margin-right: 24px;
}

.mb-23px {
  margin-bottom: 23px;
}

.mt-16px {
  margin-top: 16px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mr-16px {
  margin-right: 16px;
}

.mt-0 {
  margin-top: 0;
}

.m-0 {
  @include reset;
}

.mb--25px {
  margin-bottom: -25px;
}

.mb-65-lg {
  @media (min-width: 1240px) {
    margin-bottom: 65px;
  }
}

.mr-50px-lg {
  @media (min-width: 1240px) {
    margin-right: 50px;
  }
}

.mb-64px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 64px;
  }
}

.mb-24px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 24px;
  }
}

.mt-0-lg {
  @media (min-width: 1240px) {
    margin-top: 0;
  }
}

.mb-0-lg {
  @media (min-width: 1240px) {
    margin-bottom: 0;
  }
}

.m-0-lg {
  @media (min-width: 1240px) {
    margin: 0;
  }
}

.mb-30px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 30px;
  }
}

@include mb-lg(31px);
@include mb-lg(0);

.mb-68px-lg {
  @media (min-width: 1240px) {
    margin-bottom: 68px;
  }
}

// paddings
.pt-250px {
  padding-top: 250px;
}

.pt-200px {
  padding-top: 200px;
}

.pb-100px {
  padding-bottom: 100px;
}

.pb-200px {
  padding-bottom: 200px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-50px {
  padding-top: 50px;
}

.p-0 {
  padding: 0;
}

.pl-5px::placeholder {
  padding-left: 5px;
}

.pt-200px-lg {
  @media (min-width: 1240px) {
    padding-top: 200px;
  }
}

.pt-250px-lg {
  @media (min-width: 1240px) {
    padding-top: 250px;
  }
}
