.container {
  padding: 0 20px;
}

@media (min-width: 1240px) {
  .container {
    max-width: $container-width-desktop;
    margin: 0 auto;
    padding: 0;
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.flex-100 {
  display: flex;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.dir-column {
  flex-direction: column;
}

.dir-row-1240 {
  @media (min-width: 1240px) {
    flex-direction: row;
  }
}

.dir-row-reverse-1240 {
  @media (min-width: 1240px) {
    flex-direction: row-reverse;
  }
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pl-5px::placeholder {
  padding-left: 5px;
}

.mb-78px {
  margin-bottom: 78px;
}

.py-200px {
  padding: 200px 0;
}

.pt-100px {
  padding-top: 100px;
}

.pt-50px {
  padding-top: 50px;
}

.mt-50px {
  margin-top: 50px;
}

.mb-16px {
  margin-bottom: 16px;
}
