@mixin font-size-line($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-11px {
  @include font-size-line(11px, 12.89px);
}

@mixin font-10px {
  @include font-size-line(10px, 16.5px);
}

@mixin banner-form-field-mobile {
  width: 100%;
  margin-bottom: 24px;
}

@mixin reset-margin {
  margin: 0;
}

@mixin reset-padding {
  padding: 0;
}

@mixin text-small {
  @include font-size-line(12.8px, 19.2px);
}

@mixin bg-card($image-url, $number) {
  .bg-card-#{$number} {
    background-image: url("../images/#{$image-url}");
    background-position: center;
    background-size: cover;
  }
}

@mixin h2-mobile {
  @include font-size-line(18px, 27px);
}

@mixin mb($value) {
  .mb-#{$value} {
    margin-bottom: $value;
  }
}

@mixin mt($value) {
  .mt-#{$value} {
    margin-top: $value;
  }
}

@mixin mb-lg($value) {
  .mb-#{$value}-lg {
    @media (min-width: 1240px) {
      margin-bottom: $value;
    }
  }
}

@mixin for-desktop {
  @media (min-width: $width_desktop) { @content; }
}
