@mixin caps-bold-text {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin font-11px {
  font-size: 11px;
  line-height: 12.89px;
}

@mixin font-10px {
  font-size: 10px;
  line-height: 16.5px;
}

@mixin banner-form-field-mobile {
  width: 100%;
  margin-bottom: 24px;
}

@mixin font-size-line($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin reset {
  margin: 0;
}

@mixin reset-padding {
  padding: 0;
}

@mixin text-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

@mixin bg-card($image-url, $number) {
  .bg-card-#{$number} {
    background-image: url("../images/#{$image-url}");
    background-position: center;
    background-size: cover;
  }
}

@mixin h2-mobile {
  font-size: 18px;
  line-height: 27px;
}
