.mobile-app-image {
  flex: 0 0 auto;
  width: 333px;
  height: auto;
  margin: 0 auto;
}

.col {
  width: 100%;

  @include for-desktop {
    width: 50%;
  }
}

.bg-red {
  background: $red;
}

.mobile-app-btn {
  @include text-small;

  width: auto;

  padding: 16px 40px;

  border-radius: 32px;

  text-transform: none;
}
