.mobile-app-image {
  height: auto;
  margin-bottom: -18px;
  @media (min-width: 1240px) {
    width: 333px;
  }
}

.mobile-app-image-box {
  flex: 1 1 50%;
  text-align: center;
}

.mobile-app-body {
  flex: 1 1 50%;
}

.bg-red {
  background: $red;
}

.mobile-app-btn {
  border-radius: 32px;
  @include text-small;
  padding: 16px 40px;
  width: auto;
  text-transform: none;
}

.pb-100px {
  padding-bottom: 100px;
}
