.mobile-app-image {
  flex: 0 0 auto;
  width: 370px;
  height: auto;
  margin-bottom: -18px;
  @media (min-width: 1240px) {
    width: 333px;
  }
}

.mobile-app-body {
  flex: 1 1 50%;
}

.bg-red {
  background: $red;
}

.mobile-app-btn {
  border-radius: 32px;
  @include text-small;
  padding: 16px 40px;
  width: auto;
  text-transform: none;
}

.pb-100px {
  padding-bottom: 100px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
