$font-default: "Roboto";
$font-size-default: 18px;
$line-height-default: 1.5;
$color-default: #cacaca;
$bg-default: #08020d;

// colors
$black: #08020d;
$dark: #3c3b3d;
$grey: #e0e0e0;
$dark-grey: #cacaca;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$search-grey: #757575;

//desktop
$container-width-desktop: 1200px;
$container-width-mobile: 374px;

// font sizes
$text-sz-main: 16px;
$main-line-height: 1.5;

$width_desktop: 1240px;
