$font-default: "Roboto";
$font-size-default: 18px;
$line-height-default: 1.5;
$color-default: #cacaca;
$bg-default: #08020d;

// colors
$black: #08020D;
$dark: #3C3B3D;
$grey: #E0E0E0;
$dark-grey: #CACACA;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;
$search-grey: #757575;

//desktop
$container-width-desktop: 1200px;
$container-width-mobile: 374px;

// font sizes
$text-sz-main: 16px;
